apiVersion: 1
datasources:
  - name: InfluxDB
    id: 1
    type: influxdb
    typeName: InfluxDB
    access: proxy
    url: http://influxdb:8086
    basicAuth: true
    basicAuthUser: admin
    secureJsonFields:
      basicAuthPassword: true
      token: true
    jsonData:
      httpMode: POST
      organization: screeps
      version: Flux
  - name: Graphite
    id: 2
    type: graphite
    access: proxy
    url: http://carbon-api:8081
    jsonData:
      graphiteVersion: "1.1"
      graphiteType": "default"
  - name: TimescaleDB
    id: 3
    type: grafana-postgresql-datasource
    access: proxy
    url: timescaledb:5432
    user: postgres
    basicAuth: false
    editable: true
    withCredentials: false
    jsonData: 
        connMaxLifetime: 14400
        database: screeps
        maxIdleConns: 100
        maxIdleConnsAuto: true
        maxOpenConns: 100
        sslmode: disable
        timescaledb: true
  - name: QuestDB
    id: 4
    type: questdb-questdb-datasource
    access: proxy
    url: http://questdb:9000
    jsonData:
      port: 8812
      server: "questdb"
      tlsMode: "disable"
      username: "admin"
    editable: true
  - name: Query Middleware
    id: 5
    type: yesoreyeram-infinity-datasource
    isDefault: true
    access: proxy
    url: http://query-middleware:9001
    jsonData:
      auth_method: "none"
      timeout: 30000
      custom_headers:
        - name: "Content-Type"
          value: "application/json"
        - name: "Accept"
          value: "application/json"
    editable: true