<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SCREEPS_API_URL" value="https://screeps.com" />
    <add key="SCREEPS_API_TOKEN" value="" />
    <add key="SCREEPS_API_USERNAME" value="" />
    <add key="SCREEPS_API_PASSWORD" value="" />
  </appSettings>
</configuration>